* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
}

body {
  padding: 2rem;
  background-color: #0e1129;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}